.filter-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 10px;
  border-color: lightgray;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.price-form {
  position: absolute;
  bottom: 10;
  z-index: 999;
  border-radius: 10px;
  padding: 25px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.price-form button {
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 0.5rem;
  cursor: pointer;
  border-color: lightgray;
}

.price-form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.price-range {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
}

.price-range-separator {
  display: flex;
  align-items: center;
}

.price-range input {
  width: 6rem;
}

.options-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  bottom: 10;
  z-index: 999;
  border-radius: 10px;
  padding: 25px;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.beds-baths-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  bottom: 10;
  z-index: 999;
  border-radius: 10px;
  padding: 25px;
}

.beds-baths {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.beds-baths-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
  padding: 0.5rem;
  cursor: pointer;
}

.option {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 10px;
}

.option:hover {
  cursor: pointer;
}