#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 30px;
  border-bottom: 1px solid black;
}

.header-link {
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  max-width: 700px;
  margin: 35px auto 45px auto;
}

.highlight {
  background-color: #EFFE52;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 700px;
  margin: 20px auto 10px auto;
}

.description {
  background-color: #F5F5F5;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.command-grid-container {
  display: grid;
  max-width: 700px;
  margin: 10px auto 0 auto;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.command-container {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.command-container:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.command-icon {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 5px;
}

.command {
  text-align: left;
  margin: 0 5px;
}

.preferences-form {
  display: flex;
  margin: 35px auto 0 auto;
  max-width: 700px;
  width: 100%;
  align-items: center;
  position: relative;
}

.preferences-input {
  width: 100%;
  font-size: 1.1rem;
  padding: 18px 60px 18px 18px;
  border: 2px solid #D4D4D4;
  border-radius: 25px;
}

.submit-button {
  display: flex;
  background-color: #D4D4D4;
  border-radius: 50%;
  padding: 15px;
  border: none;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
}

.submit-button:hover {
  background-color: #bbb8b8;
  cursor: pointer;
}

.powered-by-container {
  display: flex;
  max-width: 700px;
  margin: 1px auto 20px auto;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  width: 100%;
}

.powered-by {
  color: gray;
  text-align: right;
}

