#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 30px;
}

.header-title {
  cursor: pointer;
}

.preferences-form {
  display: flex;
  max-width: 700px;
  width: 100%;
  align-items: center;
  position: relative;
}

.preferences-input {
  width: 100%;
  font-size: 1.1rem;
  padding: 18px 60px 18px 18px;
  border-radius: 25px;
}

.submit-button {
  display: flex;
  border-radius: 50%;
  padding: 15px;
  border: none;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
}

.submit-button:hover {
  cursor: pointer;
}

.main-body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.filters-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  gap: 1rem;
  margin-bottom: 15px;
}

.map-and-listings-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  border-top: 1px solid lightgray;
  max-height: calc(100vh - 170px);
}

#map {
  flex-grow: 1;
}

.listings-and-button-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  border-left: 1px solid lightgray;
  max-height: 100%;
  padding-top: 15px;
}

/* Custom scrollbar for listings-and-button-container */
.listings-and-button-container::-webkit-scrollbar {
  width: 10px;
}

/* Hide scrollbar up/down arrows */
.listings-and-button-container::-webkit-scrollbar-button {
  display: none;
}

/* Style and round the scrollbar thumb */
.listings-and-button-container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Style the scrollbar track */
.listings-and-button-container::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}


.listing-grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 90%;
  flex-grow: 1;
}

.load-more-button {
  display: flex;
  max-width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px auto 40px auto;
  cursor: pointer;
}

/* Loader animation */
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

.large-loader {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* media query for mobile */
@media (max-width: 800px) {
  .title {
    margin: 75px 1em 45px 1em;
  }

  .description-container {
    margin: 40px 2em 30px 2em;
  }

  .command-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 0 2em 0 2em;
  }

  .powered-by-container {
    justify-content: center;
  }

  .listing-grid-container {
    grid-template-columns: 1fr;
  }

  .listing-card-title-container {
    width: 100%;
  }

  .preferences-form{
    padding: 2em;
  }
}